/* LAYOUT */
/* ***** */
body{

    display: flex;
    height: 100vh;

}

.contenedor{

display: flex;
width: 1360px;

}

header{

    display: flex;
    flex-direction: column;
    width: 100vw;
    
}

main{

    display: flex;
    height: 100vw;
}

footer{

    display: flex;
    align-items: flex-end;
    padding: 20px;
    margin: 10px;
}

.header__titulo{

display: flex;
flex-grow: 1;
margin: 10px;

}
.main__content{

    display: flex;
    flex-grow: 2;
    margin: 10px;
    
}
.footer__titulo{

}
.main__hero{

    display: flex;
    flex-grow: 1;
    margin: 10px;
    
    
}
.main__sidebar{

    display: flex;
    margin: 10px;
    flex-grow: 1;
}